body {
    padding: 2.5rem;
    max-width: 50rem;
    margin: 0 auto;
}

header {
    margin-bottom: 2rem;

    & h1 {
        font-size: 3rem;
        line-height: 2rem;
    }

    & p {
        font-size: 1.375rem;
        line-height: 1.5rem;
        margin-top: 0.625rem;
    }
}

main section {
    margin-bottom: 1.5rem;

    & h2 {
        margin-bottom: 0.5rem;
        user-select: none;
    }
}

@media (max-width: 400px) {
    body {
        padding: 1.25rem;
    }
}
